<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="{{ site.author }}" />
	<title>{{ page.title }} | {{ site.author }}</title>
	
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/highlight.css">
	<script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
</head>

<body>
<div id="container">
	<div id="main" role="main">
		<div id="mio">
            	Live in the future, then build what's missing!</p>
    	</div>
		
		<header>
		<h1>{{ page.title }}</h1>
		</header>

		<nav>
		<span><a title="home page" class="" href="{{ site.url }}/">home</a></span>
		<span><a title="about" class="" href="{{ site.url }}/about/">about</a></span>
		<span><a title="categories" class="" href="{{ site.url }}/categories/">categories</a></span>
		<span><a title="tags" class="" href="{{ site.url }}/tags/">tags</a></span>
		<span><a title="links" class="" href="{{ site.url }}/links/">links</a></span>
		<span><a title="RSS" class="" href="{{ site.url }}/feed/">subscribe</a></span>
		<span><a title="PAPER-MINING" class="" href="{{ site.url }}/paper-mining/">PAPER-MINING</a></span>
		<span><a title="acl" class="" href="{{ site.url }}/paper-mining/acl/acl_home.html">acl</a></span>
		<span><a title="emnlp" class="" href="{{ site.url }}/paper-mining/emnlp/emnlp_home.html">emnlp</a></span>
		<span><a title="nips" class="" href="{{ site.url }}/paper-mining/nips/nips_home.html">nips</a></span>
		<span><a title="icml" class="" href="{{ site.url }}/paper-mining/icml/icml_home.html">icml</a></span>
		<span><a title="aistats" class="" href="{{ site.url }}/paper-mining/aistats/aistats_home.html">aistats</a></span>
		<span><a title="jmlr" class="" href="{{ site.url }}/paper-mining/jmlr/jmlr_home.html">jmlr</a></span>
		<span><a title="cvpr" class="" href="{{ site.url }}/paper-mining/cvpr/cvpr_home.html">cvpr</a></span>
		<span><a title="iccv" class="" href="{{ site.url }}/paper-mining/iccv/iccv_home.html">iccv</a></span>
		<span><a title="BLOG-MINING" class="" href="{{ site.url }}/blog-mining/">BLOG-MINING</a></span>
		<span><a title="hunch_net" class="" href="{{ site.url }}/blog-mining/hunch_net/hunch_net_home.html">hunch_net</a></span>
		<span><a title="nathan_marz_storm" class="" href="{{ site.url }}/blog-mining/nathan_marz_storm/nathan_marz_storm_home.html">nathan_marz_storm</a></span>
		<span><a title="high_scalability" class="" href="{{ site.url }}/blog-mining/high_scalability/high_scalability_home.html">high_scalability</a></span>
		<span><a title="fast_ml" class="" href="{{ site.url }}/blog-mining/fast_ml/fast_ml_home.html">fast_ml</a></span>
		<span><a title="hilary_mason_data" class="" href="{{ site.url }}/blog-mining/hilary_mason_data/hilary_mason_data_home.html">hilary_mason_data</a></span>
		<span><a title="brendan_oconnor_ai" class="" href="{{ site.url }}/blog-mining/brendan_oconnor_ai/brendan_oconnor_ai_home.html">brendan_oconnor_ai</a></span>
		<span><a title="andrew_gelman_stats" class="" href="{{ site.url }}/blog-mining/andrew_gelman_stats/andrew_gelman_stats_home.html">andrew_gelman_stats</a></span>
		</nav>
		
		<article class="content">
		{{ content }}
		</article>
	</div>

	<footer>
	<p><small>Powered by <a href="https://github.com/mojombo/jekyll">Jekyll</a> & 
			<a href="http://pages.github.com">GitHub</a> | Copyright 2010 - {{ site.time | date:"%Y" }} by 
			<a href="/about/">maker</a></small></p>
	</footer>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48522588-1', 'makerhacker.github.io');
  ga('send', 'pageview');

</script>

</body>
</html>

