---
layout: default
---

<section class="meta">
<span class="time">
	maker /
	<time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
</span>
<br/>

{% if page.categories %}
<span class="categories">
	categories |
	{% for cat in page.categories %}
	<a href="{{ site.url }}/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>&nbsp;
	{% endfor %}
</span>
{% endif %}
<br/>

{% if page.tags %}
<span class="tags">
	tags |
	{% for tag in page.tags %}
	<a href="{{ site.url }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>&nbsp;
	{% endfor %}
</span>
{% endif %}
</section>

<section class="post">
{{ content }}
</section>

<span>
<br/>
<a {% if page.previous %} href="{{ site.url }}{{ page.previous.url }}" class="pageNav"{% endif %} {% unless page.previous %} class="pageNavInvalid" {% endunless %} >Previous</a>
&nbsp;&nbsp;&nbsp;
<a {% if page.next %} href="{{ site.url }}{{ page.next.url }}" class="pageNav"{% endif %} {% unless page.next %} class="pageNavInvalid" {% endunless %} >Next</a>
<br/>
</span>

<br/><br/>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- maker adsense -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-5027806277543591"
     data-ad-slot="4192012269"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<br/><br/>

{% include comments.md %}


